.box-alumni {
  margin-top: 4vh;
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(7, 110, 110, 0.58);
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}
.box-alumni h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: teal;
  padding-bottom: 0;
}
.box-alumni h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 40px;
  border-radius: 12px;
  background: orange;
  padding-bottom: 0;
}
.box-alumni form {
  margin-top: 30px;
}

form .input-box input {
  height: 53px;
  width: 100%;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: teal;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

form h3 {
  color: teal;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: bold;
}
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: orange;
  cursor: pointer;
  padding-bottom: 0;
}
.input-box.button input:hover {
  background: #e9b951;
}
form .text h3 {
  color: teal;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: orange;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
}

.header-for-alumni {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.444);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  background: url(../Images/11.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
