@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
}

.navbar-for-all-pages {
  transition: 1.2s ease;
  display: flex;
  height: 6.5vh;
  align-items: center;
  justify-content: space-around;
  color: #19968d;
  margin-left: 200px;
}

.items-nav {
  transition: 1.2s ease;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}

.items-nav a {
  transition: 1.2s;
  text-decoration: none;
  color: #19968d;
  font-size: 22px;
}

.enroll a {
  transition: 1.2s;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.items-nav a:hover {
  letter-spacing: 0.3rem;
}

.enroll a:hover {
  transition: 1.2s ease;
  letter-spacing: 0.3rem;
}

.enroll:hover {
  transition: 1.2s ease;
  letter-spacing: 0.3rem;
  background-color: #f28537;
  box-shadow: 1px 1px 10px #f28537;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: #19968d;
  border-radius: 50px;
}
.enroll {
  transition: 1.2s ease;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: #19968d;
  border-radius: 5px;
  box-shadow: 1px 1px 10px teal;
}
.sidebar {
  transition: 1.2s ease;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: whitesmoke;
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
  margin-top: 20px;
}
.sidebar .center-sidebar li {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar a {
  width: 100%;
  color: black;
}
.menu {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu {
    display: block;
  }
}
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
}

/*Transition*/
.loader-bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:after,
.loader:before {
  content: "";
  border: 1em solid #19968d;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
