.container-for-bg-image-and-text {
  height: 90vh;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 6rem;
  background: url(../Images/sample-image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f28537;
  text-shadow: 10px 10px 20px #f2853776;
  /* color: #19968d; */

}

.bg-header-1 {
  font-size: 7rem;
  /* text-shadow: 1px 2px 20px #f28537; */
}

.bg-header-2 {
  font-size: 4rem;
  /* text-shadow: 1px 2px 20px #f28537; */
}

* {
  overflow-x: hidden;
}

.container-for-text-under-values {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50vh;
  background-color: whitesmoke;
}

.img-under-values-1 {
  height: 40vh;
  width: 30vw;
  background: url(../Images/speaking.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-under-values-2 {
  height: 40vh;
  width: 30vw;
  background: url(../Images/smallerbox2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.random-container-for-asdufjfv-text {
  font-size: 1.4rem;
  text-align: center;
  width: 50vw;
}

h3 {
  color: #f28537;
}

.pnf-values {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 1.5rem;
}

.container-for-values {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  height: 79vh;
}

.value1,
.value2,
.value3 {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 1.2s;
  padding: 10px;
  height: 400px;
  width: 390px;
  box-shadow: 1px 1px 15px 2px rgba(65, 68, 68, 0.321);
}

.value1 i,
.value2 i,
.value3 i {
  font-size: 3.5rem;
}

i {
  color: #f28537;
}

.icon-for-value-1 {
  text-align: center;
}

.icon-for-value-2 {
  text-align: center;
}

.icon-for-value-3 {
  text-align: center;
}

.value1 h3,
.value2 h3,
.value3 h3 {
  margin-top: 3vh;
  text-align: center;
}

.value1 p,
.value2 p,
.value3 p {
  text-align: center;
}

.value1:hover,
.value2:hover,
.value3:hover {
  box-shadow: 1px 1px 15px 2px #f285377b
}

.value1:hover {
  transform: translateY(-10px);
}

.value2:hover {
  transform: translateY(-10px);
}

.value3:hover {
  transform: translateY(-10px);
}

.read-more-button {
  margin-left: 9vw;
  transition: 1.2s;
  color: #f28537;
  padding: 10px;
  background-color: #f28537;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: 3vh;
  justify-content: center;
  width: 10vw;
}

.read-more-button a {
  color: white;
  text-decoration: none;
}

.read-more-button:hover {
  box-shadow: 1px 1px 15px 2px rgba(255, 166, 0, 0.55);
  transform: translateY(-10px);
}

.container-for-more-info {
  height: 80vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.the-image {
  box-shadow: 1px 1px 15px 2px rgba(152, 152, 151, 0.55);
  height: 55vh;
  width: 35vw;
  background: url(../Images/IMG_6793.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-container-for-more-info {
  padding: 20px;
  height: 30vh;
  width: 50vw;
  font-size: 1.4rem;
}

.why-us-text {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f28537;
  font-size: 1.4rem;
}

.why-choose-pathshala {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pnf-reasons-1,
.pnf-reasons-2,
.pnf-reasons-3 {
  height: 55vh;
  width: 30vw;
  box-shadow: 1px 1px 15px 2px rgba(152, 152, 151, 0.55);
}

.img-container-reason-1,
.img-container-reason-2,
.img-container-reason-3 {
  height: 25vh;
}

.text-container-reason-1,
.text-container-reason-2,
.text-container-reason-3 {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

.img-container-reason-1 {
  background: url(../Images/1.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-container-reason-3 {
  background: url(../Images/6.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-container-reason-2 {
  background: url(../Images/3.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.buffer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-color: white;
}

.buffer-line {

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  height: 60vh;
}

.buffer-circle-1 {
  box-shadow: 1px 1px 30px 10px #f285377b;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background: url(../Images/smallerbox2_2_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.buffer-circle-2 {
  box-shadow: 1px 1px 30px 10px #f285377b;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background: url(../Images/pre-uni.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.buffer-circle-3 {
  box-shadow: 1px 1px 30px 10px #f285377b;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background: url(../Images/image-circle.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-for-more-info-2 {
  height: 80vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.the-image-2 {
  box-shadow: 1px 1px 15px 2px rgba(152, 152, 151, 0.55);
  height: 55vh;
  width: 35vw;
  background: url(../Images/2.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-container-for-more-info-2 {
  padding: 20px;
  height: 30vh;
  width: 50vw;
  font-size: 1.4rem;
}

.life-at-pnf-text {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #f28537;
  height: 20vh;
}

.gallery-home {
  background-color: whitesmoke;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.image-gallery-1,
.image-gallery-2,
.image-gallery-3,
.image-gallery-4 {
  transition: 1.2s;
  height: 80vh;
  width: 23vw;
  background-color: red;
}

.image-gallery-1:hover,
.image-gallery-2:hover,
.image-gallery-3:hover,
.image-gallery-4:hover {
  width: 100%;
}

.random-container-for-asdufjfv-text {
  width: 30vw;
}

.image-gallery-1 {
  background: url(../Images/10.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-gallery-2 {
  background: url(../Images/7.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-gallery-3 {
  background: url(../Images/9.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-gallery-4 {
  background: url(../Images/5.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (width<1429px) {
  .container-for-values {
    display: flex;
    padding: 40px;
    height: 100vh;
  }

}

@media (width< 1000px) {
  .container-for-values {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 100vh;
  }

  .main-under-value-text h3 {
    font-size: 20px;
  }

  .main-under-value-text p {
    font-size: 12px;
  }

  .container-for-more-info p {
    font-size: 18px;
  }

  .container-for-bg-image-and-text {
    font-size: 80px;
  }

  .life-at-pnf-text {
    font-size: 60px;
  }

  .buffer-circle-1,
  .buffer-circle-2,
  .buffer-circle-3 {
    width: 150px;
    height: 150px;
  }

  .container-for-more-info-2 p {
    font-size: 20px;
  }
}

@media(max-width:700px) {
  .main-under-value-text h3 {
    font-size: 15px;
  }
}

@media(width<1434px) {
  .bg-header-1 {
    font-size: 5rem;
  }
}

@media(width<1124px) {
  .bg-header-1 {
    font-size: 4rem;
  }
}

@media(width<1114px) {
  .container-for-bg-image-and-text {
    height: 60vh;
  }
}

@media(width<1008px) {

  .value3,
  .value1,
  .value2 {
    overflow: hidden;
  }

  .value3,
  .value1,
  .value2 {
    height: 700px;
  }
}

@media(width<1070px) {
  .container-for-values {
    height: 140vh;
    flex-direction: column;
  }
}

@media(width<1066px) {
  .why-choose-pathshala {
    flex-direction: column;
    height: 180vh;
  }

  .pnf-reasons-1,
  .pnf-reasons-2,
  .pnf-reasons-3 {
    height: 50vh;
    width: 70vw;
    box-shadow: 1px 1px 15px 2px rgba(152, 152, 151, 0.55);
  }


}

@media(width<798px) {
  .text-container-for-more-info-2 {
    height: 38vh;
  }
}